data/*.csv
data/projectData/*.tsv
data/
model_cvae/
peaks/
model_vae/**/checkpoints/*.pth
model_vae/**/*.npy
model_svm/results_latest/checkpoints/
model_cnn/**/checkpoints/*.pth
**/**/checkpoints/*.pth
**/*.npy
prosnp_vae/**/checkpoints/*.pth
**/scrap/
trimodal_vae/**/checkpoints/*.pth